.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}

.align-items-center {align-items: center;}

.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.justify-end {justify-content: end;}
.justify-around {justify-content: space-around;}

.d-flex {display: flex;}
.d-block {display: block;}
.d-none {display: none;}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-1{flex: 1;}
.flex-initial{flex: initial;}
.flex-col{flex-direction: column;}
.flex-row{flex-direction: row;}

.gap-half{gap:0.5em;}
.gap-1{gap:1em;}
.gap-2{gap:2em;}

.w-full {width: 100%;}
.h-full {height: 100%;}

.w-screen {width: 100vw;}
.h-screen {height: 100vh;}

.m-auto {margin: auto;}
.mt-auto {margin-top: auto;}
.mb-auto {margin-bottom: auto;}
.mr-auto {margin-right: auto;}
.ml-auto {margin-left: auto;}
.my-auto{margin-top: auto; margin-bottom: auto;}
.mx-auto{margin-left: auto; margin-right: auto;}

.my-1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.my-2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.mx-1 {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.mx-2 {
    margin-left: 1em;
    margin-right: 1em;
}
.m-1{margin: 0.5em;}
.m-2{margin: 1em;}

.p-1{padding: 0.5em;}
.p-2{padding: 1em;}

.mt-2 {margin-top: 1em;}
.mb-2 {margin-bottom: 1em;}

.mr-2 {margin-right: 1em;}
.ml-2 {margin-left: 1em;}

.absolute{position: absolute;}
.relative{position: relative;}

.font-bold{ font-weight: bold;}
.italic{font-style: italic;}

.error{
    color: #c11515;
}

.no-decoration-link{
    text-decoration: none;
    color: inherit;
}
